@font-face {
  font-family: "iconfont"; /* Project id 2512244 */
  src: url('https://at.alicdn.com/t/font_2512244_ubc2fd99gd.woff2?t=1620957126905') format('woff2'),
       url('https://at.alicdn.com/t/font_2512244_ubc2fd99gd.woff?t=1620957126905') format('woff'),
       url('https://at.alicdn.com/t/font_2512244_ubc2fd99gd.ttf?t=1620957126905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconnianling:before {
  content: "\e673";
}

.iconpingbi1:before {
  content: "\e620";
}

.iconyincang:before {
  content: "\e85f";
}

.iconshanchu:before {
  content: "\e62d";
}

.iconjiaoyupeixun:before {
  content: "\e617";
}

.iconxueli:before {
  content: "\e63c";
}

.iconxiaoxi:before {
  content: "\e655";
}

.iconchakan:before {
  content: "\e606";
}

.iconsanjiao:before {
  content: "\e622";
}

.icontianjia:before {
  content: "\e64d";
}

.iconshoucangzhiwei:before {
  content: "\e611";
}

.iconshoucang:before {
  content: "\e7a7";
}

.iconshijian:before {
  content: "\e675";
}

.iconjingyan:before {
  content: "\e613";
}

.iconshoucang1:before {
  content: "\e694";
}

.iconbianji:before {
  content: "\e609";
}

.iconkefu:before {
  content: "\ec2e";
}

.iconicon-test:before {
  content: "\e61e";
}

.iconwp-sj-2:before {
  content: "\e720";
}

.iconxuexiao:before {
  content: "\e643";
}

.icon_shangshirongzi:before {
  content: "\e603";
}

.icon_qiuzhijiqiao:before {
  content: "\e60d";
}

.iconwode:before {
  content: "\e60c";
}

.iconjianli:before {
  content: "\e677";
}

.iconrenshu:before {
  content: "\e678";
}

.iconshouji:before {
  content: "\e604";
}

.iconicon_huabanfuben:before {
  content: "\e61d";
}

.iconfabuzhengshu:before {
  content: "\e612";
}

.iconjianlibuchongxiang:before {
  content: "\e61f";
}

.icondizhi:before {
  content: "\e628";
}

.icondaibanshixiang:before {
  content: "\e60a";
}

.iconhangzhengguanli:before {
  content: "\e697";
}

.iconlanlvtubiaozhizuomoban-16:before {
  content: "\e60e";
}

.iconqiyegongsi:before {
  content: "\e68c";
}

.iconsousuo:before {
  content: "\e614";
}

.iconmima:before {
  content: "\e9f0";
}
